@model Cart

@{
    ViewBag.Title = "Wild8 | Košarica";
}

@section Scripts {
    <script type="text/javascript" src="~/Scripts/ViewScripts/Cart_View.js"></script>
}

<div id="dvCategoryResults">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Košarica</h3></div>
            <div class="panel-body">
                <table class="table table-condensed" style="border-collapse:collapse;">
                    <thead id="head-underline">
                        <tr>
                            <th>Slika jela</th>
                            <th>Naziv jela</th>
                            <th>Veličina</th>
                            <th>Količina</th>
                            <th>Dodaci</th>
                            <th align="right">Cijena</th>
                        </tr>
                    </thead>

                    <tbody class="displayed" id="orders-list">
                        @{
                            Html.RenderPartial("CartItemsList", SessionExtension.GetCart(Session).Items);
                        }
                    </tbody>
                </table>
            </div>
            <div class="panel-body">
                <table class="table table-condensed" style="border-collapse:collapse;">
                    <thead id="head-underline">
                        <tr>
                            <th>Ukupno</th>
                        </tr>
                    </thead>

                    <tbody class="displayed">
                        <tr>
                            <td id="total-price">@SessionExtension.GetCart(Session).TotalPrice HRK</td>
                            <td class="accept-col">
                                <button type="submit" data-url="@Url.Action("Index", "Index")" class="btn btn-warning pull-right" id="make-order-btn">Potvrdi</button>
                                <label class="pull-right"></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>