﻿<div class="container jumbotron" style="border-radius: 20px">
    <div style="text-align: center">
        <h1>
            Hvala na narudžbi
        </h1>
        <p>
            Vaša narudžba se obrađuje.
            <br>
            Potvrda o narudžbi će biti poslana na danu e-mail adresu.
        </p>
    </div>
</div>