@model MenuModelView

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/menu_view.js"></script>
}
@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/Content/menu.css" />
}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-2">
            <form role="form" id="selectionForm" data-url="@(Url.Action("ChangeCategory", "Menu"))">
                <div class="form-group">
                    <label for="ddlCategory" >Kategorija</label>
                    @Html.DropDownListFor(m => m.activeCategory,
                            new SelectList(Model.Categories, "CategoryID", "Name", Model.activeCategory),
                            new { id = "ddlCategory", @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="sortSel">Sortiranje:</label>
                    <select class="form-control" id="sortSel">
                        <option>Ime (A-Ž)</option>
                        <option>Ime (Ž-A)</option>
                        <option>Cijena (najviše prvo)</option>
                        <option>Cijena (najniže prvo)</option>
                        <option>Popularnost (više naručivane)</option>
                        <option>Ocjena (najviše prvo)</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div id="dvCategoryResults">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Sve kategorije</h3></div> <!--Todo replace this with selected category-->
                <div class="panel-body">
                    <table class="table table-condensed" style="border-collapse:collapse;">
                        <thead id="head-underline">
                            <tr>
                                <th>Slika jela</th>
                                <th>Naziv jela</th>
                                <th>Opis jela</th>
                                <th>Veličina/Količina</th>
                                <th class="order-head">Naruči</th>
                            </tr>
                        </thead>

                        <tbody class="displayed">
                            @{Html.RenderPartial("MealsList", Model.Meals);}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
