<form class="form-horizontal">
    <fieldset>
        <!-- File Button -->
        <div class="form-group">
            <label for="homepage-own-image" class="col-md-4 control-label">Slika na naslovnoj stranici</label>
            <div class="col-md-6">
                <input id="homepage-own-image" name="homepageOwnImage" class="file form-control input-md" type="file">
            </div>
        </div>

        <!-- File Button -->
        <div class="form-group">
            <label for="contacts-own-image" class="col-md-4 control-label">Slika na stranici kontakata</label>
            <div class="col-md-6">
                <input id="contacts-own-image" name="contactsOwnImage" class="file form-control input-md" type="file">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 col-md-offset-4">
                <button id="save-own-pic-btn" class="btn btn-success btn-block">
                    Spremi
                </button>
            </div>
        </div>
    </fieldset>
</form>
<script>
    $(".file").fileinput({
        previewFileType: "image",
        browseClass: "btn btn-primary",
        browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
        showRemove: false,
        showUpload: false,
    });
</script>