<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label for="restaurant-homepage-image" class="col-md-4 control-label">
                Slika restorana na naslovnoj stranici
            </label>
            <div class="col-md-6">
                <input id="restaurant-homepage-image" type="file" class="file">
            </div>
        </div>

        <div class="form-group">
            <label for="carosel-images" class="col-md-4 control-label">
                Rotirajuće slike na naslovnoj stranici
            </label>
            <div class="col-md-6">
                <input id="carosel-images" type="file" class="file" multiple>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-4">
                <button class="btn btn-success btn-block">
                    Spremi
                </button>
            </div>
        </div>
    </fieldset>
</form>
<script>
    $(".file").fileinput({
        previewFileType: "image",
        browseClass: "btn btn-primary",
        browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
        showRemove: false,
        showUpload: false
    });
</script>