<!DOCTYPE html>

<!--
   ___   _  __           __ __                     
  / _ | / |/ /__ _    __/ // /__  ___  ___ ___ ___ 
 / __ |/    / -_) |/|/ / _  / _ \/ _ \/ -_) -_) -_)
/_/ |_/_/|_/\__/|__,__/_//_/\___/ .__/\__/\__/\__/ 
                               /_/                 
-->

<html>
  <head>
		<title>Wild8.com | Restaurant</title>
    <link rel="shortcut icon" href="images/bbq_favicon.png">
        
        
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="homepage.css" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>    
    
    
    <!-- Delayed signup event script -->
    <script type="text/javascript">
      function modal_trigger() {
        $(".dropdown-toggle").dropdown('toggle')
        setTimeout(function(){
          $("#registration_modal").modal('show')
        }, 5); 
      }
    
    </script>
    
    <script type="text/javascript">
      $(document).ready(function() {
        $('.carousel').carousel({
          interval: 5000
        })
      });
    </script>
    
    
  </head>
    
  <body>
        
    <!-- NAVBAR -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#wildNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="homepage.html">Wild8</a>
        </div>
        <div class="collapse navbar-collapse" id="wildNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="homepage.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-cutlery"></span> Menu
              <span class="caret"></span></a>
              <ul class="dropdown-menu" id="categories">
                <li><a href="#">Food Category 1</a></li>
                <li><a href="#">Food Category 2</a></li> 
                <li><a href="#">Food Category 3</a></li> 
              </ul>
            </li>
            <li><a href="#"><span class="glyphicon glyphicon-comment"></span> Comments</a></li>
          </ul>
          
          
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
						<a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Sign In <strong class="caret"></strong></a>
              <div class="dropdown-menu" style="padding: 15px; padding-bottom: 15px;">
                <form method="post" action="login" accept-charset="UTF-8">
                  <input style="margin-bottom: 15px; display: block;" type="text" placeholder="Username" id="username" name="username">
                  <input style="margin-bottom: 15px; display: block;" type="password" placeholder="Password" id="password" name="password">
                  <input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In">
                  <label style="text-align:center;margin-top:5px">Not registered?</label>
                  <input class="btn btn-success btn-block" type="button" id="signup_button" data-toggle="dropdown" value="Sign up" onclick="modal_trigger()">
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<!-- REGISTRATION MODAL -->
    <div id="registration_modal" tabindex="-1" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Sign up</h4>
          </div>
          <div class="modal-body">
            <p>Registration form to be added.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
 



<!-- Carousel
================================================== -->
    <div id="wildCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#wildCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#wildCarousel" data-slide-to="1"></li>
        <li data-target="#wildCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <img src="images/carousel_images/Wild8_interior.jpg" class="img-responsive">
          <div class="container">
            <div class="carousel-caption">
              <h1>Wild8</h1>
              <p>Best BBQ restaurant in your town.</p>
              <p><a class="btn btn-large btn-primary" href="#restaurant_info">Learn More</a>
            </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="images/carousel_images/Wild8_sample_food.jpg" class="img-responsive">
          <div class="container">
            <div class="carousel-caption">
              <h1>Wide selection</h1>
              <p>Over 100 different BBQ delicacies.</p>
              <p><a class="btn btn-large btn-primary" href="#">View menu</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="images/carousel_images/Wild8_delivery.jpg" class="img-responsive">
          <div class="container">
            <div class="carousel-caption">
              <h1>Free delivery</h1>
              <p>Delivering to your home.</p>
              <p><a class="btn btn-large btn-primary" href="#">Order now</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#wildCarousel" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#wildCarousel" data-slide="next">
        <span class="icon-next"></span>
      </a>  
    </div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-md-4 text-center">
          <img class="img-circle" src="images/marketing_images/marketing_30min.jpg">
          <h2>30 minute delivery</h2>
          <p>Guaranteed delivery in under 30 minutes or you don't have to pay for your order.</p>
          <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>
        <div class="col-md-4 text-center">
          <img class="img-circle" src="images/marketing_images/marketing_satisfaction.png">
          <h2>100% customer satisfaction</h2>
          <p>Rated 5/5 on every order.</p>
          <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>
        <div class="col-md-4 text-center">
          <img class="img-circle" src="images/marketing_images/marketing_veggie">
          <h2>Vegeterian options</h2>
          <p>Also providing vegeterian BBQ options</p>
          <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>
      </div><!-- /.row -->


      <!-- FEATURETTES -->

      <a name="restaurant_info"></a> <!-- anchor link for carousel button -->
      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image img-circle pull-right" src="images/featurette_restaurant.jpg">
        <h2 class="featurette-heading">About <span class="text-muted">Wild8.</span></h2>
        <p class="lead">Restaurant info</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image img-circle pull-left" src="images/owner.jpeg">
        <h2 class="featurette-heading">The owner<span class="text-muted"></span></h2>
        <p class="lead">William Henry "Bill" Gates III (born October 28, 1955) is an American business magnate, philanthropist, investor, computer programmer, and inventor. In 1975, Gates and Paul Allen co-founded Microsoft, which became the world's largest PC software company. During his career at Microsoft, Gates held the positions of chairman, CEO and chief software architect, and was the largest individual shareholder until May 2014. Gates has authored and co-authored several books.

    Starting in 1987, Gates was included in the Forbes list of the world's wealthiest people and was the wealthiest overall from 1995 to 2014 – excluding a few years after the financial crisis of 2007–08. Between 2009 and 2014, his wealth doubled from US$40 billion to more than US$82B. Between 2013 and 2014, his wealth increased by US$15 billion. Gates is currently the richest man in the world.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image img-circle pull-right" src="images/featurette_optional.jpg">
        <h2 class="featurette-heading">Extra info? <span class="text-muted">yes?</span></h2>
        <p class="lead">Description</p>
      </div>

      <hr class="featurette-divider">

      <!-- /FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© Wild8 restaurant and catering. · <a href="#">cookie and privacy policy</a></p>
      </footer>

    </div><!-- /.container -->
	</body>
</html>