﻿@using Wild8.StaticInfo
@model Wild8.Models.ModelViews.HomePageModelView

@{
    ViewBag.Title = "Wild8";
}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/menu_view.js"></script>
    <script type="text/javascript">
            $(document).ready(function()
            {
                $('.carousel').carousel(
                {
                    interval: 3250
                });

                $('.carousel').carousel('cycle');
            });
    </script>
}
@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/Content/homepage.css" />
}
<!-- Carousel  -->
<div id="wildCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#wildCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#wildCarousel" data-slide-to="1"></li>
        <li data-target="#wildCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images/carousel_images/Wild8_interior.jpg" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Wild8</h1>
                    <p>Najbolja jela s roštilja.</p>
                    <p>
                        <a class="btn btn-large btn-primary" href="#restaurant_info">Više informacija</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/carousel_images/Wild8_sample_food.jpg" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Širok izbor</h1>
                    <p>Preko 100 različitih delikatesa.</p>
                    <p>
                        <a class="btn btn-large btn-primary" href="@Url.Action("Index", "Menu")">Jelovnik</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/carousel_images/Wild8_delivery.jpg" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <h1 style="color: black" class="header_special">Besplatna dostava</h1>
                    <p class="paragraph-special">Dostava pred vaša kućna vrata.</p>
                    <p>
                        <a class="btn btn-large btn-primary" href="@Url.Action("Index", "Contacts")">Posjetite nas</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#wildCarousel" data-slide="prev"><span class="icon-prev"></span></a>
    <a class="right carousel-control" href="#wildCarousel" data-slide="next"><span class="icon-next"></span></a>
</div>


<!-- Marketing messaging and featurettes -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-md-4 text-center">
            <img class="img-circle" src="@Model.FirstMeal.ImagePath" alt="Nemas srece">
            <h2>@Model.FirstMeal.Name</h2>
            <p>
                <a class="btn btn-default" href="@Url.Action("Details", "Meals", new { id = Model.FirstMeal.MealID })">Više »</a>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle" src="@Model.SecondMeal.ImagePath" alt="Nemas srece">
            <h2>@Model.SecondMeal.Name</h2>
            <p>
                <a class="btn btn-default" href="@Url.Action("Details", "Meals", new { id = Model.SecondMeal.MealID })">Više »</a>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle" src="@Model.ThirdMeal.ImagePath" alt="Nemas srece">
            <h2>@Model.ThirdMeal.Name</h2>
            <p>
                <a class="btn btn-default" href="@Url.Action("Details", "Meals", new { id = Model.ThirdMeal.MealID })">Više »</a>
            </p>
        </div>
    </div>
    <!-- /.row -->
    <!-- FEATURETTES -->
    <a name="restaurant_info"></a>
    <!-- anchor link for carousel button -->
    <hr class="featurette-divider">
    <div class="featurette">
        <img class="featurette-image img-circle pull-right img-responsive" src="~/images/featurette_restaurant.jpg">
        <h2 class="featurette-heading">Restoran <span class="text-muted">Wild8</span></h2>
        <p class="lead">Prosječna ocjena restorana: @RestaurauntInfo.Instance.RestourantGrade</p>
        <p class="lead">
            @RestaurauntInfo.Instance.RestauranutHomepageInfo
        </p>
    </div>
    <hr class="featurette-divider">
    <div class="featurette">
        <img class="featurette-image img-circle pull-left img-responsive" src="~/images/owner.jpeg">
        <h2 class="featurette-heading">Vlasnik <span class="text-muted">@RestaurauntInfo.Instance.OwnerName</span></h2>
        <p class="lead">@RestaurauntInfo.Instance.OwnerHomepageInfo</p>
    </div>
    <!-- /FEATURETTES -->
    <!-- FOOTER -->
</div>