<form>
    <div class="form-group"> <!-- Username -->
        <label for="usr">Korisničko ime</label>
        <input class="form-control" type="text" placeholder="Korisničko ime">
    </div>

    <div class="form-group"> <!-- Password -->
        <label for="pwd">Zaporka</label>
        <input class="form-control" type="password" paceholder="Zaporka">
    </div>

    <div class="form-group"> <!-- FirstName -->
        <label  for="firstName">Ime</label>
        <input class="form-control" type="text" placeholder="Ime">
    </div>

    <div class="form-group"> <!-- LastName -->
        <label for="lastName">Prezime</label>
        <input class="form-control" type="text" placeholder="Prezime">
    </div>

    <div class="form-group"> <!-- Street Address -->
        <label for="streetAddr">Ulica</label>
        <input class="form-control" type="text" placeholder="Ulica">
    </div>

    <div class="form-group">
        <!-- City -->
        <label for="City">Grad</label>
        <input class="form-control" type="text" placeholder="Grad">
    </div>
    <div class="form-group">
        <!-- Postal code -->
        <label for="postal">Zip kod</label>
        <input class="form-control" type="number" placeholder="Zip kod">
    </div>
    
    <div class="form-group"> <!-- Employee status -->
        <label for="emplType">Vrsta zaposlenika</label>
        <input class="form-control" type="text" placeholder="Odgovornost">
    </div>

    <div class="form-group"> <!-- Button -->
        <button type="submit" class="btn btn-default">Prijavi</button>
    </div>
</form>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>