    <div class="btn-group well-lg">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Jela
                <span class="caret"></span>
            </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#addMeal" data-toggle="tab">Dodaj jelo</a></li>
                    <li><a href="#editMeal" data-toggle="tab">Uredi jelo</a></li>
                    <li><a href="#delMeal" data-toggle="tab">Obriši jela</a></li>
                </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Kategorije
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#addCategory" data-toggle="tab">Dodaj kategoriju</a></li>
                <li><a href="#delCategory" data-toggle="tab">Obriši Kategoriju</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Dodaci jelima
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#addAddon" data-toggle="tab">Dodaj dodatke jelu</a></li>
                <li><a href="#delAddon" data-toggle="tab">Obriši dodatke jela</a></li>
            </ul>
            </div>
        </div>
        <div class="container-fluid">
            <h1>Content</h1>
        </div>