    <form>
        <div class="form-group">
            <!-- Username -->
            <label for="usr">Korisničko ime</label>
            <input class="form-control" type="text" placeholder="Korisničko ime" required>
        </div>

        <div class="form-group">
            <!-- Password -->
            <label for="pwd">Zaporka</label>
            <input class="form-control" type="password" paceholder="Zaporka" required>
        </div>

        <div class="form-group">
            <!-- FirstName -->
            <label for="firstName">Ime</label>
            <input class="form-control" type="text" placeholder="Ime" required>
        </div>

        <div class="form-group">
            <!-- LastName -->
            <label for="lastName">Prezime</label>
            <input class="form-control" type="text" placeholder="Prezime" required>
        </div>

        <div class="form-group">
            <!-- Employee status -->
            <label for="emplType">Vrsta zaposlenika</label>
            <input class="form-control" type="text" placeholder="Odgovornost" required>
        </div>

        <div class="form-group">
            <!-- Street Address -->
            <label for="streetAddr">Ulica</label>
            <input class="form-control" type="text" placeholder="Ulica" required>
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon">Grad</span>
            <input class="form-control" type="text" placeholder="Grad" required>
            <span class="input-group-addon">Zip kod</span>
            <input class="form-control" type="number" placeholder="Zip kod" required>
        </div>
        
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Dodaj">
        </div>

        <div class="form-group">
            <!-- Button -->
            <button type="submit" class="btn btn-default" id="">Prijavi</button>
        </div>
    </form>