  
<div class="container">
    <ul class="nav nav-pills">
        <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Jela
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#addMeal" data-toggle="tab">Dodaj jelo</a></li>
              <li><a href="#editMeal" data-toggle="tab">Uredi jelo</a></li>
              <li><a href="#delMeal" data-toggle="tab">Obriši jela</a></li> 
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kategorije
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#addCategory" data-toggle="tab">Dodaj kategoriju</a></li>
              <li><a href="#delCategory" data-toggle="tab">Obriši Kategoriju</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dodaci jelima
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#addAddon" data-toggle="tab">Dodaj dodatke jelu</a></li>
              <li><a href="#delAddon" data-toggle="tab">Obriši dodatke jela</a></li> 
            </ul>
        </li>
    </ul>
    
    <div class="tab-content ">
        <div class="tab-pane fade active" id="addMeal">
            <h1>Dodaj jelo formular</h1>
        </div>
        <div  class="tab-pane fade" id="editMeal">
            <h1>Uredi jelo formular</h1>
        </div>
        <div  class="tab-pane fade" id="delMeal">
            <h1>obrisi jelo formular</h1>
        </div>
        <div  class="tab-pane fade" id="addCategory">
            <h1>Dodaj kategoriju formular</h1>
        </div>
        <div  class="tab-pane fade" id="delCategory">
            <h1>Obrisi kategoriju formular</h1>
        </div>
        <div  class="tab-pane fade" id="addAddon">
            <h1>Dodaj dodatak jelu formular</h1>
        </div>
        <div  class="tab-pane fade" id="delAddon">
            <h1>Obrisi dodatak jelu</h1>
        </div>
    </div>
</div>

<!-- Remove becaouse this will be already added to site -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>