﻿<div class="container-fluid" id="meal-menu">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Jela
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="meal-submenu" data-url="@Url.Action("AddMeal", "Admin")" id="add-meal-menu">Dodaj jelo</a></li>
                        <li><a class="meal-submenu" data-url="@Url.Action("EditMeal","Admin")" id="edit-meal-menu">Uredi jelo</a></li>
                        <li><a class="meal-submenu" data-url="@Url.Action("DeleteMeal","Admin")" id="del-meal-menu">Obriši jela</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Kategorije
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="meal-submenu" data-url="@Url.Action("AddCategory","Admin")" id="add-category-menu">Dodaj kategoriju</a></li>
                        <li><a class="meal-submenu" data-url="@Url.Action("EditCategory","Admin")" id="edit-category-menu">Uredi kategoriju</a></li>
                        <li><a class="meal-submenu" data-url="@Url.Action("DeleteCategory","Admin")" id="delete-category-menu">Obriši kategoriju</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Dodaci jelima
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="meal-submenu" data-url="@Url.Action("AddAddOn", "Admin")" id="add-addon-menu">Dodaj dodatke jelu</a></li>
                        <li><a class="meal-submenu" data-url="@Url.Action("EditAddOn", "Admin")" id="edit-addon-menu">Uredi dodatke jela</a></li>
                        <li><a class="meal-submenu" data-url="@Url.Action("DeleteAddon", "Admin")" id="del-addon-menu">Obriši dodatke jela</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body container-fluid" id="meal-content">
            @{ Html.RenderAction("AddMeal", "Admin"); }
        </div>
    </div>
</div>