@model AddEditMealModelView
@{
    Layout = null;
}
<div class="container-fluid">
    @using (Html.BeginForm("AddMeal", "Admin", FormMethod.Post, new { id = "add-meal-form", enctype = "multipart/form-data" }))
    {
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            @Html.Label("Ime:", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Meal.Name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Opis:", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Meal.Description, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Kategorija:", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(m => m.Meal.CategoryID,
                                new SelectList(Model.Categories, "CategoryID", "Name", Model.SelectedCategory),
                                new { @class = "form-control", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Dostupno:", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Meal.IsAvailable)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Dodaci:", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.ListBoxFor(x => x.SelectedAddOns, new MultiSelectList(Model.AddOns, "AddOnID", "AddOnID"), htmlAttributes: new { @class = "form-control", size = 5 })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Vrste:</label>
                            <div class="col-sm-10">
                                <div id="MealTypes" class="MealTypes">
                                    <div class="MealType">
                                        <div class="input-group">
                                            <span class="input-group-addon">Vrsta</span>
                                            <input class="form-control" type="text" name="MealType" placeholder="Vrsta" required>
                                            <span class="input-group-addon">Cijena</span>
                                            <input class="form-control" type="number" step="0.01" min="0" max="99" name="Price" placeholder="Cijena" required>
                                            <span class="input-group-btn">
                                                <button type="button" class="deleteMealType btn btn-default">
                                                    <span class="glyphicon glyphicon-remove" style="color:darkred" aria-hidden="true"></span>
                                                </button>
                                            </span>
                                        </div><br />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="col-md-10 controls">
                                <button type="button" class="btn btn-default" onclick="AddMealTypeInput()">
                                    <span class="glyphicon glyphicon-plus" style="color:black" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="text-center col-sm-10">
                                <input class="btn btn-lg btn-success btn-block" id="addMealBtn" type="submit" value="Spremi jelo">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.Label("Slika:", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input id="input-20" type="file" name="upload">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="modal fade" id="modalInfoView" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modal-header-label"></h4>
                </div>
                <div class="modal-body">
                    <h5 id="modal-body-label"></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Uredu</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/Scripts/ViewScripts/Admin_View_Scripts/PhotoUploadPreview.js"></script>
</div>