@model IEnumerable<AddOn>

@{
    Layout = null;
}
<div class="container-fluid" id="del-addon-list">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Popis dodataka</h3>
        </div>
        <div class="panel-body">
            <div class="list-group" id="del-list">
                @foreach (var item in Model)
                {
                    <button type="button" class="list-group-item del-addon-btn" data-url="@Url.Action("DeleteAddOn", "Admin")" data-addon-id="@item.AddOnID">
                        <span class="glyphicon glyphicon-remove pull-right" style="color:orangered;font-size:1.2em;"></span>
                        @item.AddOnID
                    </button>
                }
            </div>
        </div>
    </div>
</div>