﻿@model ModalViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-warning">
            <button type="button" class="close" id="modal-del-close" data-dismiss="modal" aria-hidden="true">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Upozorenje</h4>
        </div>
        <div class="modal-body">
            <h3>Jeste li sigurni da želite obrisati: </h3>
            <br />
            <h4 id="modal-addon-label">@Model.Title</h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" id="modal-del-cancel" data-dismiss="modal">Odustani</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="modal-del-btn">Izbriši @Model.Type</button>
        </div>
    </div>
</div>