﻿@model IEnumerable<Category>

@{
    Layout = null;
}
<div class="container-fluid" id="del-category-list">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Popis kategorija</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                @foreach (var item in Model)
                {
                    <button type="button" class="list-group-item del-category-btn" 
                            data-url="@Url.Action("DeleteCategory","Admin")" data-category-id="@item.CategoryID" data-category-name="@item.Name">
                        <span class="glyphicon glyphicon-remove pull-right" style="color:orangered;font-size:1.2em;"></span>
                        @item.Name
                    </button>
                }
            </div>
        </div>
    </div>
</div>