<ul class="list-group">
    <li class="list-group-item">
        item
        <input class="btn btn-warning btn-xs pull-right" type="submit" value="Delete"></input>
    </li>
    <li class="list-group-item">
        item
        <input class="btn btn-warning btn-xs pull-right" type="submit" value="Delete"></input>
    </li>
    <li class="list-group-item">
        item
        <input class="btn btn-warning btn-xs pull-right" type="submit" value="Delete"></input>
    </li>
    <li class="list-group-item">
        item
       <input class="btn btn-warning btn-xs pull-right" type="submit" value="Delete"></input>
    </li>
    <li class="list-group-item">
        item
        <input class="btn btn-warning btn-xs pull-right" type="submit" value="Delete"></input>
    </li>
    <li class="list-group-item">
        item
       <input class="btn btn-warning btn-xs pull-right" type="submit" value="Delete"></input>
    </li>
</ul>




<!-- Remove becaouse this will be already added to site -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>