@model IEnumerable<Meal>

@{
    Layout = null;
}
<div class="container-fluid" id="del-meal-list">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Popis jela</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                @foreach (var item in Model)
                {
                    <button type="button" class="list-group-item del-meal-btn" data-url="@Url.Action("DeleteMeal","Admin")" data-meal-id="@item.MealID" data-meal-name="@item.Name">
                        <span class="glyphicon glyphicon-remove pull-right" style="color:orangered;font-size:1.2em;"></span>
                        @item.Name
                    </button>
                }
            </div>
        </div>
    </div>
</div>