@model IEnumerable<Meal>

@{ 
    Layout = null;
}
<div class="container-fluid" id="edit-meal-list">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Popis jela</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    @item.Name
                    <span class="pull-right">
                        <button type="button" class="btn btn-warning btn-sm edit-meal-btn" data-url="@Url.Action("EditMeal","Admin")" data-meal-id="@item.MealID">Uredi jelo</button>
                    </span>
                </li>
            }
        </ul>
    </div>
</div>    
    <script>
        $(document).ready(function () {
            $(document).on('click','.edit-meal-btn', function () {
                var url = $(this).data('url');
                var meal_id = $(this).data('meal-id');

                $.ajax({
                    type: 'GET',
                    url: url,
                    data: { id: meal_id },
                    success: function (content) {
                        var listContainer = $('#edit-meal-list').parent();
                        listContainer.fadeOut(600, function () {
                            listContainer.empty();
                            listContainer.append(content).fadeIn(600);
                        });
                    },
                    error: function () {
                        window.alert("Error");
                    }
                })
            });
        })
    </script>
</div>