<html>
    <head>
            <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <link href="sb-admin.css" rel="stylesheet">

    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-nav side-nav" role="navigation">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li><h3>Vlasnik Marcelić</h3></li>
                            <li><a>Narudžbe</a></li>
                            <li><a>Jela</a></li>
                            <li><a>Statistika</a></li>
                            <li><a>Djelatnici</a></li>
                            <li id="logOut"><a>Odjava</a></li>
                        </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
            <div id="page-wrapper">
                <div class="container-fluid">
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                    <p><h1>Hello world</h1></p>
                </div>
            </div>
        </div>
    </body>
</html>