
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title pull-left">
                <h5> Naruđba korisnik + adresa + cijean</h5>
            </div>

            <div class="btn-group pull-right">
                <button type="button" class="btn btn-sm btn-success" id="accept-btn">Potvrdi</button>
                <button type="button" class="btn btn-sm btn-danger" id="refuse-btn">Odbij</button>
                <button type="button" class="btn btn-sm btn-default" data-toggle="collapse" data-target="#order" id="open-btn">
                    <span class="glyphicon glyphicon-menu-down" id="open-icon"></span>&nbsp;
                </button>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="panel-content container-fluid">
            <div id="order" class="collapse" >
                <ul class="odred-details list-group">
                    <li class="list-group-item">
                        <h5>Jelo 1, količina: 2, cijena</h5>
                        <ul class="addons list-group">
                            <li class="list-group-item">Kajmak</li>
                            <li class="list-group-item">Ajvar</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <h5>Jelo 1, količina: 2, cijena</h5>
                        <ul class="addons list-group">
                            <li class="list-group-item">Kajmak</li>
                            <li class="list-group-item">Ajvar</li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>


    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="OrdersPartial.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <script>
        $(document).ready(function() {  //Change icon on click
            $("#open-btn").click(function () {
                $("#open-icon").toggleClass("glyphicon-menu-up");
            })
        })
    </script>