@{
    Layout = null;
}

<div class="panel panel-default"> 
    <div class="panel-heading">
        <h4>Narudžbe</h4>
    </div>
    <div class="panel-content container">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title pull-left">
                        <h5> Naruđba korisnik + adresa + cijean</h5>
                    </div>

                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-sm btn-success" id="accept-btn">Potvrdi</button>
                        <button type="button" class="btn btn-sm btn-danger" id="refuse-btn">Odbij</button>
                        <button type="button" class="btn btn-sm btn-default open-btn" data-toggle="collapse" data-target="#order1">
                            <span class="glyphicon glyphicon-menu-down" id="open-icon"></span>&nbsp;
                        </button>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="panel-content container-fluid">
                    <div id="order1" class="collapse">
                        <ul class="odred-details list-group">
                            <li class="list-group-item">
                                <h5>Jelo 1, količina: 2, cijena</h5>
                                <ul class="addons list-group">
                                    <li class="list-group-item">Kajmak</li>
                                    <li class="list-group-item">Ajvar</li>
                                </ul>
                            </li>
                            <li class="list-group-item">
                                <h5>Jelo 1, količina: 2, cijena</h5>
                                <ul class="addons list-group">
                                    <li class="list-group-item">Kajmak</li>
                                    <li class="list-group-item">Ajvar</li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title pull-left">
                        <h5> Naruđba korisnik + adresa + cijean</h5>
                    </div>

                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-sm btn-success" id="accept-btn">Potvrdi</button>
                        <button type="button" class="btn btn-sm btn-danger" id="refuse-btn">Odbij</button>
                        <button type="button" class="btn btn-sm btn-default open-btn" data-toggle="collapse" data-target="#order2">
                            <span class="glyphicon glyphicon-menu-down" id="open-icon"></span>&nbsp;
                        </button>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="panel-content container-fluid">
                    <div id="order2" class="collapse">
                        <ul class="odred-details list-group">
                            <li class="list-group-item">
                                <h5>Jelo 1, količina: 2, cijena</h5>
                                <ul class="addons list-group">
                                    <li class="list-group-item">Kajmak</li>
                                    <li class="list-group-item">Ajvar</li>
                                </ul>
                            </li>
                            <li class="list-group-item">
                                <h5>Jelo 1, količina: 2, cijena</h5>
                                <ul class="addons list-group">
                                    <li class="list-group-item">Kajmak</li>
                                    <li class="list-group-item">Ajvar</li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/Scripts/ViewScripts/Admin_View_Scripts/OrdersScript.js"></script>
</div>