﻿@{
    ViewBag.Title = "Wild8 | Prijava";
}

@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/Content/login.css" />
    <style>
        #login-btn {
            width: 100%;
        }
    </style>
}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/ViewScripts/login.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
}

<div class="container marketing">
    <div class="featurette">
        <div class="wrapper">
            <form id="login-form" data-url="@Url.Action("Login", "Login")" data-redirect-to="@Url.Action("Index","Admin")" onsubmit="return false">
                <h2 class="form-signin-heading">Unesite korisničke podatke</h2>
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="Username" placeholder="Korisničko ime" required autofocus="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="Password" placeholder="Lozinka" required autofocus="">
                </div>
                <div class="form-group">
                    <button class="btn btn-success" data-loading-text="Prijava" id="login-btn" autocomplete="off">Prijavi se</button>
                </div>
            </form>
        </div>
    </div>
</div>
