﻿#dvCategoryResults{
    padding-top: 75px;
}

th{
    border-bottom: none !important;
    min-width: 30px;
}

#head-underline{
    border-bottom: 3px solid #ddd;
}

#make-order-btn{
    margin-left:15px;
}