/*
   ___   _  __           __ __
  / _ | / |/ /__ _    __/ // /__  ___  ___ ___ ___
 / __ |/    / -_) |/|/ / _  / _ \/ _ \/ -_) -_) -_)
/_/ |_/_/|_/\__/|__,__/_//_/\___/ .__/\__/\__/\__/
                               /_/
*/
/*GLOBAL*/

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}
/*navbar brand font*/

.navbar-brand {
    color: crimson !important;
    font-weight: bold;
    font-style: italic;
}
/* hiding the dropdown arrow
.nav .dropdown-toggle .caret {
  display:none;
}
 */

#header-wrap {
    width: 100%;
    position: fixed;
    height: 50px;
    z-index: 999;
}
/* THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */

.carousel {
    margin-bottom: 60px;
    padding-top: 51px;
}
/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 1;
}
/* Declare heights because of positioning of img element */

.carousel .item {
    height: auto;
    background-color: #555;
}
/* MARKETING CONTENT
-------------------------------------------------- */

.row > div > img {
    max-height: 140px;
    max-width: 140px;
}
/* Pad the edges of the mobile views a bit */

.marketing {
    padding-left: 15px;
    padding-right: 15px;
}
/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}
/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0;
}
.featurette {
    padding-top: 120px;
    overflow: hidden;
}
.featurette-image {
    margin-top: -120px;
    max-height: 512px;
    max-width: 512px;
}
/* Give some space on the sides of the floated elements so text doesn't run right into it. */

.featurette-image.pull-left {
    margin-right: 40px;
}
.featurette-image.pull-right {
    margin-left: 40px;
}
/* Thin out the marketing headings */

.featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Remve the edge padding needed for mobile */

    .marketing {
        padding-left: 0;
        padding-right: 0;
    }
    /* Remove rounded corners */

    .navbar-wrapper .navbar {
        border-radius: 0px;
    }
    /* Bump up size of carousel content */

    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    min-height: 100px;
    height: auto;
    min-width: 400px;
}
.header_special {
    color: #1C2F42;
}
.paragraph-special {
    color: #1C2F42;
}


@media screen and (max-width: 468px){
  .carousel-caption > h1{
    font-size: 32px;
  }
  #header_special{
    font-size: 32px;
  }
  .carousel-indicators{
    height:0px;
  }
  .carousel-caption{
    height:110%;
  }
}
