﻿footer {
    margin-left: 50px;
    padding-left: 40px;
    margin-right: 50px;
    padding-right: 40px;
}

.navbar-brand {
    color: crimson !important;
    font-weight: bold;
    font-style: italic;
}