@{
    Layout = null;
}

<div class="panel panel-default" id="orders-menu"> 
    <div class="panel-heading">
        <h4>Narudžbe</h4>
    </div>
    <div class="panel-content">
        <div class="panel-group container-fluid" id="orders-list">
        </div>
    </div>

    <div id="order-modal" class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="order-modal-title"></h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="control-label">Poruka: </label>
                            <textarea class="form-control" id="order-modal-message"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="modal-btn" type="button" class="btn btn-default" data-dismiss="modal">Pošalji poruku</button>
                </div>
            </div>
        </div>
    </div>
</div>