﻿@{
    Layout = null;
}

<div class="panel panel-default" id="orders-menu"> 
    <div class="panel-heading">
        <h4>Narudžbe</h4>
    </div>
    <div class="panel-content">
        <div class="panel-group container-fluid" id="orders-list">
        </div>
    </div>
</div>