﻿@model IEnumerable<Employee>

@{
    Layout = null;
}
<div class="container-fluid" id="employee-list">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Popis djelatnika</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                @foreach (var item in Model)
                {
                    <button type="button" class="list-group-item edit-employee-btn" data-url="@Url.Action("EditEmployee","Admin")" data-employee-id="@item.EmployeeID">
                        <span class="glyphicon glyphicon-edit pull-right" style="color:cornflowerblue;font-size:1.2em;"></span>
                        @item.FirstName @item.LastName
                    </button>
                }
            </div>
        </div>
    </div>
</div>